/* Write your CSS here */
.vaccination-heading {
    color: #94a3b8;
    font-family: Roboto;
    font-size: 25px;
  }
  .vaccine-graph {
    background-color: #1c1c2b;
    display: flex;
    flex-direction: column;
  
    padding: 10px;
    margin: 10px;
    width: 900px;
  }
  