.vaccine-gender-heading {
    color: #94a3b8;
  }
  .vaccination-container {
    display: flex;
    flex-direction: row;
  }
  .vaccination-gender {
    display: flex;
    flex-direction: row;
  }
  .category-container {
    display: flex;
    flex-direction: column;
  }
  
  .vaccinegender-contianer {
    background-color: #1c1c2b;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    width: 900px;
  }
  